[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.15"
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
cronos = "https://evm.cronos.org"

[etherscan]
cronos = { key = "${gPC9PI7Qb3pNWuoVe7ulhPpBhWAfKabW}", url = "https://api.cronoscan.com/api" }

